.swiper-container{
  height: 100%;
}
.banner{
  height: 990px;
}
.post1,.post2{
  height: 1080px;
}
.swiper-pagination-switch{
  display: block;
  margin: 15px 0;
}
.pagination{
  width: auto;
  height: 100%;
  right: 90px;
  bottom: auto;
  top:45%;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
}
.swiper-slide a{
  position: absolute;
  width: 100%;
  height: 100%;
}